# COâ‚‚ Emissions per Square Kilometer in European Countries
In this notebook we will be plotting a few visualizations for CO2 emissions per square kilometer in European Countries throughout the years from 1970-2023.

In [1]:
import pandas as pd
import matplotlib.pyplot as plt

### Data loading

To begin the project, we explored available databases related to pollution and CO2 emissions. After gathering the data from online sources, we organized it into appropriate folders and integrated it into our code.

In [2]:
data_root = './data/'

In [4]:
# Reading the data
df_co2 = pd.read_csv(f'{data_root}co2_emmisions_complicated.csv')

In [5]:
df_co2

,Region,Country_code,Name,Substance,1970,1971,1972,1973,1974,1975,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
0,Rest Central America,ABW,Aruba,CO2,25.213789,28.827752,39.472108,44.289439,43.469148,57.396273,...,440.689215,462.025593,484.888607,466.591612,465.881209,557.917266,452.553064,500.635247,502.693255,530.026098
1,India +,AFG,Afghanistan,CO2,1733.920270,1733.709906,1693.584478,1733.904787,2190.318066,2028.966850,...,7825.740854,8346.520776,7527.593714,8066.138489,7932.004694,7249.068567,7054.132973,7930.781033,8259.915260,8707.349830
2,Southern_Africa,AGO,Angola,CO2,8933.899038,8519.512895,10366.104270,11346.995660,11806.560820,10904.652960,...,30887.263660,33097.498920,31285.802720,27942.098860,26258.886520,27573.216010,20710.917670,25262.831790,27353.038120,28229.927610
3,Rest Central America,AIA,Anguilla,CO2,2.177587,2.177689,2.273190,2.118480,2.359836,2.593654,...,27.917050,28.026636,28.362580,29.086622,28.247295,27.604422,22.803655,22.017827,21.861340,22.955546
4,Int. Aviation,AIR,Int. Aviation,CO2,169900.398500,169900.398500,179759.531100,187494.406300,180478.129000,174582.470500,...,507505.760800,536213.680500,560173.838900,589919.315300,615937.542300,625141.435300,298655.677600,331317.424700,411474.866100,491632.307600
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
220,Oceania,WSM,Samoa,CO2,65.899774,65.905375,70.265568,84.517821,103.708365,85.667289,...,286.449608,328.727513,354.054879,361.318627,358.360297,402.588580,409.212075,429.106904,452.935358,468.448040
221,Middle_East,YEM,Yemen,CO2,1627.518111,1640.702831,1925.013117,2342.273430,2331.021472,2232.294382,...,28354.168110,14250.833500,10628.764410,10392.182210,12154.299510,12464.619920,11503.928360,11548.302420,11190.608460,10898.838960
222,Southern_Africa,ZAF,South Africa,CO2,185572.548600,184469.131500,191106.029500,208269.429600,215011.076200,230932.666400,...,484048.241700,460051.451900,460496.227200,469811.499100,473699.770300,478588.373100,418773.238900,428533.165300,409407.424600,397372.958100
223,Southern_Africa,ZMB,Zambia,CO2,3700.015775,3857.058714,4265.341210,4569.402729,4613.917130,4778.662920,...,5009.751407,5319.987771,5803.027583,7077.198888,8056.239782,7026.690461,7477.243028,7764.645845,7806.998322,8058.979391
224,Southern_Africa,ZWE,Zimbabwe,CO2,9529.529706,9476.805147,9090.939565,10551.537370,10400.689060,9167.706471,...,12597.722520,12689.493140,11266.275260,10585.433660,12270.039140,11169.150200,9072.132782,10623.290120,10963.003910,11744.051280